<div class="container-box">
  <div class="row">
  <div class="col-md-3 offset-md-1">
    <% if user_signed_in? %>
    <div class="name-search pt-5">
      <table class="table">
        <tr>
          <th class="text-center">
            <i class="fas fa-search"></i>求人検索
          </th>
        </tr>
        <tr>
          <td>
            <%= form_with url: search_search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]', size: "26x4" %><br>
            <span class="search-button col-xs-12 text-right">
            <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) %>
            <%= f.submit :"検索" %>
          </span>
        <% end %>
          </td>
        </tr>
      </table>
    </div>
    <% end %>
    <div class="col-md-10 pt-5">
      <table class="table genre-table">
        <thead>
          <tr>
            <th class="text-center">募集形態で検索</th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td class="text-center">
              <%= link_to genre.name, search_search_path('search[value]': genre.id, 'search[how]': "match") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="rank-job_offer mt-5">
      <h2 class="job_offer-headline head-line title_h2 text-center"><i class="fas fa-fire"></i>人気求人<i class="fas fa-fire"></i></h2><br>
        <table class="table">
          <% @all_ranks.each.with_index(1) do |job_offer, i| %>
          <tr>
            <td colspan="3">
              <h4 class="text-center"><i class="fas fa-crown"></i>第<%= i %>位</h4>
              <h4 class="text-center">
                <%= link_to users_farmer_path(job_offer.farmer.id) do %>
                  <%= attachment_image_tag job_offer.farmer, :image, size: '50x50', format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle " %>
                <% end %>
                <%= link_to users_job_offer_path(job_offer) do %>
                  <%= job_offer.title %>
              </h4>
                  <%= attachment_image_tag job_offer, :image_id, fallback: "no_image.jpg", size: '150x150' ,class: "d-block mx-auto"%>
                <% end %>
            </td>
          </tr>
          <tr>
            <td class="job_offer_detail text-center">
              <i class="fas fa-yen-sign">：<%= job_offer.reward %></i><br>
              <i class="far fa-clock">：<%= job_offer.genre.name %></i><br>
              状況：<%= job_offer.is_valid %>
            </td>
            <td colspan="2" class="favo_button">
              <% if job_offer.favorited_by?(current_user) %>
                <%= link_to users_job_offer_favos_path(job_offer), method: :delete do %>
                 <i class="fas fa-star btn-lg btn-warning fas fa-sign-out-alt"><%= job_offer.favos.count %></i>
                <% end %>
               </p>
               <% else %>
               <p>
                <%= link_to users_job_offer_favos_path(job_offer), method: :post do %>
                 <i class="far fa-star btn-lg btn-light fas fa-sign-out-alt"><%= job_offer.favos.count %></i>
                <% end %>
            </td>
              <% end %>
           </tr>
          <% end %>
      </table>
    </div>
   </div>
   <div class="col-md-4 offset-md-2">
    <h2 class="job_offer-headline head-line title_h2 text-center pt-5"><i class="fas fa-indent"></i>求人一覧</h2>
		<h5 class="text-center">
		  ページ:<%= @job_offers.current_page %> / <%= @job_offers.total_pages %><br>
      <%= @job_offers.total_count %>件中<%= @job_offers.offset_value %>〜<%= @job_offers.offset_value + @job_offers.length %>件を表示しています。
		</h5>
		<div class="job_offer-box mb-3">
        <table class="table">
          <% @job_offers.each do |job_offer| %>
           <tr>
            <td colspan="2">
              <h4 class="text-center">
                <%= link_to users_farmer_path(job_offer.farmer.id) do %>
                <%= attachment_image_tag job_offer.farmer, :image, size: '50x50', format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
                <% end %>
                <%= link_to users_job_offer_path(job_offer) do %>
                <%= job_offer.title %>
              </h4>
               <%= attachment_image_tag job_offer, :image_id, fallback: "no_image.jpg", size: '200x200' ,class: "d-block mx-auto"%>
              <% end %>
            </td>
          </tr>
            <tr>
             <td class="job_offer_detail text-center">
               <i class="fas fa-yen-sign">：<%= job_offer.reward %></i><br>
               <i class="far fa-clock">：<%= job_offer.genre.name %></i><br>
               状況：<%= job_offer.is_valid %><br>
             </td>
             <td class="favo_button text-right">
               <% if job_offer.favorited_by?(current_user) %>
                 <p>
                  <%= link_to users_job_offer_favos_path(job_offer), method: :delete do %>
                   <i class="fas fa-star btn-lg btn-warning fas fa-sign-out-alt"><%= job_offer.favos.count %></i>
                  <% end %>
                 </p>
                 <% else %>
                 <p>
                  <%= link_to users_job_offer_favos_path(job_offer), method: :post do %>
                   <i class="far fa-star btn-lg btn-light fas fa-sign-out-alt"><%= job_offer.favos.count %></i>
                  <% end %>
                 </p>
               <% end %>
              </td>
          </tr>
        <% end %>
        </table>
        <%= paginate @job_offers, theme: 'twitter-bootstrap-4', class: "text-center" %>
    </div>
  </div>
</div>
</div>
