<div class="row">
  <div class="col-md-9 col-xs-offset-1">
		<h2 class="job_offer-headline head-line title_h2 text-center">求人一覧
  	  <span>全(<%= @job_offers.count %>件)</span>
		</h2>
  <div class="clearfix job_offer-box">
    <table class="table">

      <thead>
        <tr>
          <td>求人名</td>
          <td>説明</td>
          <td>報酬</td>
          <td>ジャンル</td>
          <td>ステータス</td>
          <td>農業者</td>
        </tr>
      </thead>
      <tbody>
      <% @job_offers.each do |job_offer| %>
        <tr>
          <td>
            <%= link_to users_job_offer_path(job_offer) do %>
              <%= job_offer.title %>
            <% end %>
          </td>
          <td><%= job_offer.explanation %></td>
          <td><%= job_offer.reward %></td>
          <td><%= job_offer.genre.name %></td>
          <td><%= job_offer.is_valid %></td>
          <td> <%= link_to job_offer.farmer.first_name, users_farmer_path(job_offer.farmer.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>