	<div class="row">
	  <div class="col-md-4">
	     <%= attachment_image_tag @job_offer, :image_id, size: "250x250", fallback: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
    	<table class="table">
    		<tr>
    			<th>
    				タイトル
    			</th>
    			<td>
    				<%= @job_offer.title %>
    			</td>
    		</tr>
    		<tr>
    			<th>
    				説明
    			</th>
    			<td>
    				<%= @job_offer.explanation %>
    			</td>
    		</tr>
    		<tr>
    			<th>
    				報酬
    			</th>
    			<td>
    				<%= @job_offer.reward %>
    			</td>
    		</tr>
    		<tr>
    			<th>
    				募集状況
    			</th>
    			<td>
    				<%= @job_offer.is_valid %>
    			</td>
    		</tr>
    		<tr>
    			<th>
    				農業者
    			</th>
    			<td>
    				<%= link_to @job_offer.farmer.first_name, users_farmer_path(@job_offer.farmer.id) %>
    			</td>
    		</tr>
    	</table>

	    <% if @job_offer.favorited_by?(current_user) %>
    <p>
      <%= link_to users_job_offer_favos_path(@job_offer), method: :delete do %>
        ♥<%= @job_offer.favos.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to users_job_offer_favos_path(@job_offer), method: :post do %>
        ♡<%= @job_offer.favos.count %> いいね
      <% end %>
    </p>
  <% end %>
      <div class="actions col-md-9">
    	  <%= link_to "一覧に戻る", users_job_offers_path, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
      </div>
  	</div>
	</div>
</div>