<div class="container">
	<div class="row">
	  <div class="col-md-4">
	     <%#= attachment_image_tag @job_offer, :job_offers_image, size: "250x250", fallback: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
      <div class="field">
				<p>
					タイトル     <%= @job_offer.title %>
				</p>
      </div>
	    <div class="field">
				<p>
					説明    <%= @job_offer.explanation %>
				</p>
	    </div>
	    <div class="field">
				<p>
					報酬    <%= @job_offer.reward %>
				</p>
	    </div>

	    <div class="field">
				<p>
					販売ステータス     <%= @job_offer.is_valid %>
				</p>
	    </div>
	    <div class="field">
				<p>
					農業者          <%= link_to @job_offer.farmer, users_farmer_path %>
				</p>
	    </div>
      <div class="actions col-md-9">
    	  <%= link_to "一覧に戻る", users_job_offers_path, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
      </div>
  	</div>
	</div>
</div>