	<div class="container-box">
	  <div class="row">
	  <div class="col-md-4 mt-5 ml-5">
	     <%= attachment_image_tag @job_offer, :image_id, size: "250x250", fallback: "no_image.jpg" %>
    </div>
    <div class="col-md-6 mx-auto">
    	<h2 class="job_offer-headline head-line title_h2 text-center mt-5">	<%= @job_offer.title %></h2><br>
    	<table class="table">
    		<tr>
    			<td class="job_offer_detail text-center">
    			  <i class="fas fa-yen-sign">:<%= @job_offer.reward %></i><br>
    				<i class="far fa-clock">:<%= @job_offer.genre.name %></i><br>
    				状況:<%= @job_offer.is_valid %>
    			</td>
    			<td class="farmer_img text-center">
            <%= link_to users_farmer_path(@job_offer.farmer.id) do %>
              <%= attachment_image_tag @job_offer.farmer, :image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle " %>
            <% end %>
    			</td>
    		</tr>
    		<tr>
    			<td colspan="2">
    				<%= @job_offer.explanation %>
    			</td>
    		</tr>
    	</table>
      <div class="col-md-12 text-center">
      	<% if @job_offer.favorited_by?(current_user) %>
       <p>
      <%= link_to users_job_offer_favos_path(@job_offer), method: :delete do %>

        <i class="fas fa-star fa-2x btn-block btn-warning fas fa-sign-out-alt "><%= @job_offer.favos.count %></i>

      <% end %>
       </p>
      <% else %>
       <p>
      <%= link_to users_job_offer_favos_path(@job_offer), method: :post do %>
        <i class="far fa-star fa-2x btn-block btn-light fas fa-sign-out-alt" ><%= @job_offer.favos.count %> </i>
      <% end %>
       </p>
      <% end %>
      </div>

      <div class="col-md-12 text-right mb-5">
    	  <%= link_to "一覧に戻る", users_job_offers_path, class: "glyphicon glyphicon-pencil btn btn-success btn-block" %>
      </div>
  	</div>
	</div>
</div>
	</div>
