<br>
<h4>求人一覧</h4>
<br>
<div class="col-md-12 col-md-offset-1" style="text-align: right;">
  <%#= link_to new_administrator_job_offer_path, class: "btn btn-info fab-buttons  new_job_offer" do %>
  <i class ="fas fa-plus" ></i>
  <%# end %>
</div>
<table class="table">
  <tr></tr>
  <thead>
    <tr>
      <td>求人ID</td>
      <td>求人名</td>
      <td>説明</td>
      <td>報酬</td>
      <td>ジャンル</td>
      <td>ステータス</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% @job_offers.each do |job_offer| %>
    <tr>
      <td>
        <%= job_offer.id %>
      <td>
        <%= link_to job_offer_path(job_offer) do %>
          <%= job_offer.title %>
        <% end %>
      </td>
      <td><%= job_offer.explanation %></td>
      <td><%= job_offer.reward %></td>
      <td><%#= job_offer.genre.name %></td>
      <td><%= job_offer.is_valid %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "新規求人を追加", new_job_offer_path %>
