<div class="row">
	<div class="col-xs-offset-1 col-xs-8">
		<h2 class="head-line text-center title_h2"><%= @farmer.first_name %><%= @farmer.last_name %>さんのプロフィール</h2>
		<p><strong class="information-link"><i class="far fa-farmer"></i>登録情報</strong><br>
 		</p>
		<table class="table table-bordered table-condensed" >
			<tbody>
				<tr>
					<td class="info">氏名</td>
					<td class="text-left"><%= @farmer.first_name %><%= @farmer.last_name %></td>
				</tr>
				<tr>
					<td class="info">カナ</td>
					<td class="text-left"><%= @farmer.kana_first_name %><%= @farmer.kana_last_name %></td>
				</tr>
				<tr>
					<td class="info">郵便番号</td>
					<td class="text-left"><%= @farmer.postal_code %></td>
				</tr>
				<tr>
					<td class="info">住所</td>
					<td class="text-left"><%= @farmer.residence %></td>
				</tr>
				<tr>
					<td class="info">電話番号</td>
					<td class="text-left"><%= @farmer.phone_number %></td>
				</tr>
				<tr>
					<td class="info">メールアドレス</td>
					<td class="text-left"><%= @farmer.email %></td>
				</tr>
				<tr>
					<td class="info">自己紹介</td>
					<td class="text-left"><%= @farmer.introduction %></td>
				</tr>
			</tbody>
		</table>
      <h2>ブログ</h2>
		<% @blogs.each do |blog| %>
<div>
  <%= attachment_image_tag blog, :image, fallback: "no_image.jpg", size: '300x300' %>
  <p>投稿農業者画像：<%#= link_to users_farmer_path(blog.farmer.id) do %><%#= attachment_image_tag blog.farmer, :image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40' %><%# end %></p>
  <p>タイトル：<%= blog.title %></p>
  <p>説明：<%= blog.explanation %></p>
  <p>農業者ネーム：<%= blog.farmer.first_name %></p>
  <p>投稿日時：<%= blog.created_at.strftime('%Y/%m/%d') %></p>

</div>
<% end %>
<h4><%= @farmer.first_name %><%= @farmer.last_name %>さんの求人一覧</h4>

<div class="col-md-12 col-md-offset-1" style="text-align: right;">
  <%#= link_to new_administrator_job_offer_path, class: "btn btn-info fab-buttons  new_job_offer" do %>
  <i class ="fas fa-plus" ></i>
  <%# end %>
</div>
<table class="table">
  <tr></tr>
  <thead>
    <tr>
      <td>求人名</td>
      <td>説明</td>
      <td>報酬</td>
      <td>ジャンル</td>
      <td>ステータス</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% @job_offers.each do |job_offer| %>
    <tr>
      <td>
        <%= link_to users_job_offer_path(job_offer) do %>
          <%= job_offer.title %>
        <% end %>
      </td>
      <td><%= job_offer.explanation %></td>
      <td><%= job_offer.reward %></td>
      <td><%= job_offer.genre.name %></td>
      <td><%= job_offer.is_valid %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="reviews">
<h4><%= @farmer.first_name %><%= @farmer.last_name %>さんのレビュー一覧</h4>
<p>レビュー件数：<%= @farmer.reviews.count %></p>
<% @farmer.reviews.each do |review| %>
 <%= link_to users_farmer_review_path(users_farmer_id: @farmer.id, id: review.id) do %>
  <p><%= attachment_image_tag review.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
  <%= review.user.first_name %>
  <%= review.created_at.strftime('%Y/%m/%d') %>
  <h4 class="mb-3">評価：<%= review.rate %>点 | <%= review.title %></h4>
  <% end %>
  <!--星評価-->
  <div id="star-rate-<%= review.id %>"></div>
   <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
   </script>
  <!--/星評価-->
<% end %>
</div>

<%= link_to "農業者一覧", users_farmers_path %>
<%= link_to "レビュー投稿", new_users_farmer_review_path(@farmer) %>

