<div class="container-box">
  <div class="row">
  	<div class="col-md-4 offset-md-1">
  		<br><br><h4 class="head-line title_h4 text-center"><i class="far fa-user "></i><%= @farmer.first_name %>さんのプロフィール</h4><br>
  		<% if @title == "ゴールドファーマー" %>
  		<%= image_tag('gold_crown.png', :size => '100x100', class: "d-block mx-auto") %>
  		<% elsif @title == "シルバーファーマー"%>
  		<%= image_tag('silver_crown.png', :size => '100x100', class: "d-block mx-auto") %>
  		<% else %>
  		<% end %>
      <p><%= attachment_image_tag @farmer, :image, fallback: "no_image.jpg", size: '150x150', class: "rounded-circle d-block mx-auto" %></p>
  	</div>
  	<div class="col-md-6 offset-md-1"><br><br>
  	 <div class="review-count col-md-8 mx-auto">
  	   <table class="table">
  	     <tr>
  	      <th class="text-center"><i class="far fa-file-pdf"></i>レビュー件数</th>
  	     </tr>
  	     <tr>
  	       <td class="text-center"><%= @reviews.total_count %>件</td>
  	     </tr>
  	   </table>
  	 </div>
  	 <div class="col-md-8 mx-auto">
  	   <table class="table">
  	     <tr>
  	      <th class="text-center">自己紹介</th>
  	     </tr>
  	     <tr>
  	       <td class="text-center">
  	        <% if @farmer.introduction.present? %>
             <p class="intro-box"><%= @farmer.introduction %></p>
            <% else %>
        		 <h4 class="text-center">こんにちは！</h4>
        		<% end  %>
           </td>
  	     </tr>
  	   </table>
  	 </div>
  	</div>
  	<div class="col-md-5 offset-md-1">
  	  <table class="table" >
    	 <tbody>
    		<tr>
    			<th class="text-center"><i class="fas fa-map-marker-alt fa-lg"></i></th>
    			<td class="text-left"><%= @farmer.residence %></td>
    		</tr>
    		<tr>
    			<th class="text-center"><i class="fas fa-phone-alt fa-lg"></i></th>
    			<td class="text-left"><%= @farmer.phone_number %></td>
    		</tr>
    		<tr>
    			<th class="text-center"><i class="fas fa-mail-bulk fa-lg"></i></th>
    			<td class="text-left"><%= @farmer.email %></td>
    		</tr>
    	 </tbody>
     </table>
  	</div>
  <br><br><br>
    <div class="col-md-12">
     <br><br><h2 class="job_offer-headline head-line title_h2 text-center"><i class="fas fa-blog"></i>ブログ</h2><br><br>
     <% if @blogs.present? %>
     <div class="blogs">
  		<% @blogs.each do |blog| %>
  		<div class="blog_box"><br>
       <table class="table  table-condensed text-center">
         <tr>
           <th>
             <%= blog.title %>
           </th>
         </tr>
         <tr>
           <td>
             <%= blog.created_at.strftime('%Y/%m/%d') %><br><br>
             <%= link_to users_farmer_blog_path(users_farmer_id: @farmer.id, id: blog.id) do %>
              <%= attachment_image_tag blog, :image, fallback: "no_image.jpg", size: '200x200' %>
             <% end %>
           </td>
         </tr>
       </table>
      </div>
      <% end %>
      </div>
      <%= paginate @blogs, theme: 'twitter-bootstrap-4' %>
     <% else %>
  		 <h4 class="text-center">投稿したブログはありません。</h4>
  	 <% end  %>
   </div>

   <div class="col-md-12">
      <br><br><h4 class="job_offer-headline head-line title_h4 text-center"><%= @farmer.first_name %><%= @farmer.last_name %>さんの求人</h4><br><br>
       <% if @job_offers.present? %>
       <div class="farmer_job_offers">
           <% @job_offers.each do |job_offer| %>
      		<div class="farmer_job_offer_box"><br>
           <table class="table text-center">
              <tr>
                <td>
                  <h4 class="text-center">
                    <%= link_to users_job_offer_path(job_offer) do %>
                      <%= job_offer.title %>
                  </h4>
                      <%= attachment_image_tag job_offer, :image_id, fallback: "no_image.jpg", size: '200x200' ,class: "d-block mx-auto"%>
                    <% end %>
                </td>
              </tr>
              <tr>
                <td class="job_offer_detail text-center">
                  <i class="fas fa-yen-sign">：<%= job_offer.reward %></i><br>
                  <i class="far fa-clock">：<%= job_offer.genre.name %></i><br>
                  状況：<%= job_offer.is_valid %>
                </td>
              </tr>
          </table>
          </div>
          <% end %>
        </div>
        <%= paginate @job_offers, theme: 'twitter-bootstrap-4' %>
       <% else %>
    		 <h4 class="text-center">求人はありません。</h4>
    	 <% end  %>
  </div>
  <div class="col-md-12">
   <br><br><h4 class="job_offer-headline head-line title_h4 text-center"><%= @farmer.first_name %><%= @farmer.last_name %>さんのレビュー</h4><br><br>
     <h5 class="text-center">ページ:<%= @reviews.current_page %> / <%= @reviews.total_pages %><br>
      <%= @reviews.total_count %>件中<%= @reviews.offset_value %>
      〜<%= @reviews.offset_value + @reviews.length %>件を表示しています。<br>レビュー件数：<%= @reviews.total_count %>
     </h5>
     <% if @reviews.present? %>
     <div class=" reviews">
   		<% @reviews.each do |review| %>
   		<div class=" review_box"><br>
        <table class="table text-center">
          <tr>
            <th>
              <h3>
                <%= link_to users_farmer_review_path(users_farmer_id: @farmer.id, id: review.id) do %>
                    <% if review.title.present? %>
                     <%= review.title %>
                    <% else %>
                     無題
                    <% end %>
                <% end %>
              </h3>
              <b class="mb-3">評価：<%= review.rate %>点 </b>
               <div class="rate-star">
                 <div id="star-rate-<%= review.id %>"></div>
                  <script>
                     $('#star-rate-<%= review.id %>').raty({
                       size: 36,
                       starOff:  '<%= asset_path('star-off.png') %>',
                       starOn : '<%= asset_path('star-on.png') %>',
                       starHalf: '<%= asset_path('star-half.png') %>',
                       half: true,
                       readOnly: true,
                       score: <%= review.rate %>,
                     });
                  </script>
                 </div>
               </div>
            </th>
          </tr>
          <tr>
            <td>
              <%= link_to users_farmer_review_path(users_farmer_id: @farmer.id, id: review.id) do %>
               <%= attachment_image_tag review.user, :image, size: '50x50', format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle d-block mx-auto" %>
             <% end %>
              <%= review.created_at.strftime('%Y/%m/%d') %><br><br>
                <%= link_to users_farmer_review_path(users_farmer_id: @farmer.id, id: review.id) do %>
                 <%= attachment_image_tag review, :image, size: "200x200", fallback: "no_image.jpg" %>
                <% end %>
            </td>
          </tr>
        </table>
      </div>
      <% end %>
     </div>
     <%= paginate @reviews, theme: 'twitter-bootstrap-4', class: "text-center" %>
    <% else %>
  		 <h4 class="text-center">レビューはありません。</h4>
  	 <% end  %>
  	 <div class="text-center mt-5">
    <%= link_to "求人一覧", users_job_offers_path, class: "glyphicon glyphicon-shopping-cart btn-lg btn-info" %>
    <%= link_to "レビュー投稿", new_users_farmer_review_path(@farmer), class: "glyphicon glyphicon-pencil btn-lg btn-success center-block" %><br><br>
   </div>
   </div>
  </div><br>



