<!DOCTYPE html>
<html>
  <head>
    <title>Smartagri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <li>
        <%= link_to "TOP", "/" %>
      </li>
      <li>
        <%= link_to "求人一覧", users_job_offers_path %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% elsif farmer_signed_in? %>
      <li>
        TOP
      </li>
      <li>
        <%= link_to "求人一覧", farmers_job_offers_path %>
      </li>
      <li>
        <%= link_to "農業者マイページ", farmer_path(current_farmer.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_farmer_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
      <li>
        TOP
      </li>
      <li>
        求人一覧
      </li>
      <li>
        農業者一覧
      </li>
      <li>
        会員一覧
      </li>
      <li>
        ジャンル一覧
      </li>
      <li>
        管理者一覧
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規会員登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "会員ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "新規農業者登録", new_farmer_registration_path %>
      </li>
      <li>
        <%= link_to "農業者ログイン", new_farmer_session_path %>
      </li>
      <li>
        <%= link_to "新規管理者登録", new_admin_registration_path %>
      </li>
      <li>
        <%= link_to "管理者ログイン", new_admin_session_path %>
      </li>

    <% end %>
    </header>
    <div id="flash">
        <%= render "layouts/flash" %>
      </div>
    <%= yield %>

    <footer>
      <li>
        <%= link_to "お問い合わせ", contact_path %>
      </li>
    </footer>
  </body>
</html>
